/*v=1.20.602.1*/
.matchtimetab .ivu-table-cell {
padding: 0px 0px;
}
.matchtimetab {
	overflow: visible;
	}
.ivu-table-stripe .ivu-table-body tr:nth-child(2n + 1) td, .ivu-table-stripe .ivu-table-fixed-body tr:nth-child(2n + 1) td {
	background-color: rgba(10, 44, 57,0.8) ;
}
.ivu-table-stripe .ivu-table-body tr:nth-child(2n) td, .ivu-table-stripe .ivu-table-fixed-body tr:nth-child(2n) td {
	background-color: rgba(9, 52, 68,0.8) ;
}

.tuliButton{
	height:7px !important;
	width:30px !important;
	margin-left:7px;
	background-image: none !important;
}
.tuliSpan{
	margin-left:7px;
	color:#bbf7ff;
	font-size: 12px;
}
.matchtimetab .ivu-table td{
		background-color: #07495a;
}

.ivu-table-border td, .ivu-table-border th {
	border-left: 1px solid #1b99c0;
}

.emertab .ivu-table td {
	height: 30px;
}

.mtTable td {
	font-size: 18px;
	background-color: rgba(1, 61, 83, 86);
	color:#bbf7ff;
	height:40px;
	text-align: center;
	border: 1px solid #1b99c0;
	/*border-right: 1px solid #1b99c0;*/
	padding: 0%;
}

.mtTable tr {
	vertical-align: middle;
}

.loopdiv{
	float: left;
	width: calc((100% - 0px) / 19);
	border-right: 1px solid #1b99c0;
		line-height: 25px; 
		text-align: center; 
		padding: 0%;
	
}


.emerbutton input[type="button" i] {
	color: #bbf7ff;
	font-size: 14px;
	margin-right: 8px;
	background: url(/i/sgc/hbowg/icon/emermenubk.png) 100% 100% / 100% 100%;
	border: none;
	width: 70px;
	height: 27px;
}
.emerbutton  :first-child,
.emerbutton  :last-child {
border:none;
border-radius:0;

}

.emerbutton input[type="button" i].light {
	color: #ffffff;
	font-size: 14px;
	background: url(/i/sgc/hbowg/icon/emermenubk_select.png) 100% 100% / 100% 100%;
}

.emerbutton{
margin-right:8px;
}
.backbutton{
	color: #bbf7ff;
	font-size: 14px;
	margin-right: 8px;
	background: url(/i/sgc/hbowg/icon/emermenubk.png) 100% 100% / 100% 100%;
	border: none;
	width: 48px;
	height: 27px;
}
.groupdiv{
	display: flex;
 align-items: center;
 height: 100%;
}

