/*v=1.20.602.1*/
.typhoon {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.typhoon-scroll {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 50px;
    top: 10px;
    cursor: pointer;
    font-size: 0;
    z-index: 10;
}

.typhoon-box {
    height: 100%;
    position: relative
}

.typhoon-bk {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.typhoon-path {
    width: calc(100% - 100px);
    height: 8px;
    position: absolute;
    top: 95px;
    left: 50px;
    z-index: 2;
}

.typhoon-group-img {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}
    .typhoon-group-img img {
        opacity:0.8;
    }

    .typhoon-group-img-head {
        position: absolute;
        z-index: 6;
        left: 90px;
        top: 5px;
    }

.typhoon-group-text-head {
    position: relative;
    z-index: 7;
    left: 120px;
    top: 6px;
    font-size: 1.2rem;
    font-weight: 700;
}

.typhoon-item-img {
    position: absolute;
    z-index: 4;
}

.typhoon-item-text {
    position: absolute;
    z-index: 4;
}

.typhoon-item-time {
    position: absolute;
    z-index: 4;
}
/*重要线路、牵引站、变电站、电厂：itable特殊处理*/
.typhoon-dc-hd-500 {
    background: url(/i/sgc/typhoon/content-bk.png);
    display: inline-block;
    width: 168px;
    height: 130px;
    margin-right: 3px;
    margin-top: 5px;
}
.divxl {
    padding: 5px;
    width: 550px;
    height: 414px;
    background: url(/i/sgc/typhoon/1.png);
}

.divxl1 {
    width: 136px;
    background: url(/i/sgc/typhoon/title.png);
    margin-top: 15px;
    margin-left: 10px;
    height:25px;
}
    .divxl1 span {
        margin-left: 30px;
        font-size:18px;
    }
    
.divxl2 {
    padding: 5px;
    margin-top: 7px;
    margin-left: 20px;
}
.divxl21 {
    background: url(/i/sgc/typhoon/tjbc.png);
    color: rgba(255,255,255,0.8);
    font-size:16px;
}

.divxl22 {
    font-size: 24px;
    float: right;
    margin-right: 20px;
    margin-top: -5px;
}

.divxl23 {
    background: url(/i/sgc/typhoon/tiao.png);
    float: right;
    margin-right: 10px;
    width: 173px;
    margin-top:-5px;
    height:30px;
    padding:5px;
}

.divxl24 {
    margin-left: 70px;
    color: rgba(255,255,255,0.8);
    font-size:12px;
}

.divxl3 {
    width: 528px;
    margin-left: 8px;
    height: 310px;
    overflow-y: hidden;
}

.lightFont {
    text-shadow: 0px 0px 7px #fff, 0px 0px 7px #088bef;
}

.divxl .ivu-table {
    color: white;
    background-color: transparent;
}

.divxl ivu-table-body {
}

.divxl .ivu-table-cell {
    width: 100%;
    text-align: center;
}

.divxl td.ivu-table-column-right .ivu-table-cell {
    text-align: right;
}

.divxl .ivu-table td.trColor span {
    color: rgba(252,186,115,0.8);
}
.divxl .ivu-table td.trColor {
    color: rgba(252,186,115,0.8);
}
.divxl .ivu-table td.trColor1 span {
    color: rgba(255,255,255,0.7);
}

.divxl .ivu-table-stripe .ivu-table-body tr:nth-child(n) td,
.divxl .ivu-table-stripe .ivu-table-fixed-body tr:nth-child(n) td {
    background-color: rgba(50,68,77,0.4);
    background-clip:padding-box;
    /*opacity: 0.3;*/
}

.divxl .ivu-table-stripe .ivu-table-body tr.ivu-table-row-hover td,
.divxl .ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-hover td {
    background-color: rgba(50,68,77,0.9);
}

.divxl tr.ivu-table-row-hover td {
    background-color: transparent /*#d8ecef;*/
}

.divxl .ivu-table-row-highlight td,
.divxl .ivu-table-stripe .ivu-table-body tr.ivu-table-row-highlight:nth-child(2n) td,
.divxl .ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-highlight:nth-child(2n) td,
.divxl tr.ivu-table-row-highlight.ivu-table-row-hover td {
    background-color: transparent /*#ebf7ff*/
}

.divxl .ivu-table-stripe .ivu-table-body tr.ivu-table-row-highlight:nth-child(2n + 1) td,
.divxl .ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-highlight:nth-child(2n + 1) td {
    background-color: transparent /*#585d5f*/;
}

.divxl .ivu-table-stripe .ivu-table-body tr.ivu-table-row-highlight:nth-child(2n) td,
.divxl .ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-highlight:nth-child(2n) td {
    background-color: transparent /*#585d5f*/;
}

.divxl .ivu-table-stripe .ivu-table-body tr.itable-tr-highlight td {
    background-color: #485f69;
}

.divxl .ivu-table-wrapper {
    border: transparent;
    border-bottom: 0;
    border-right: 0;
}

.divxl .ivu-table:before {
    background-color: transparent;
}

.divxl .ivu-table:after {
    background-color: transparent;
}

.divxl .ivu-table td, .divxl .ivu-table th {
    border-bottom: 3px solid transparent;
}

.divxl .ivu-table-border td, .divxl .ivu-table-border th {
    border-right: transparent;
}

.divxl .ivu-table th {
    background-color: rgba(57,78,86,0.9);
}

.divxl .ivu-table td {
    background-color: transparent;
}

.divxl .ivu-table td {
    border-left: transparent;
}

.divxl .ivu-table-header th {
    border-left: transparent;
    border-top: transparent;
}
/*台风风险预警*/
.divtf1 {
    padding: 5px;
    width: 537px;
    height: 266px;
    background: url(/i/sgc/typhoon/fxyj.png);
    margin-left: 7px;
    margin-top: 10px;
}

.divtf2 {
    background: url(/i/sgc/typhoon/titlebc.png);
    height: 37px;
    width: 166px;
    padding: 5px;
}

.divtf3 {
    width: 100px;
    margin-left: 160px;
    margin-top: -30px;
}

.divtf4 {
    float: right;
    background: url(/i/sgc/typhoon/close.png);
    height: 13px;
    width: 12px;
    margin-top: -18px;
}

.tfinfo {
    float: right;
    background: url(/i/sgc/typhoon/fold.png);
    height: 8px;
    width: 15px;
    margin-top: 5px;
    margin-right: 4px;
}
.selectItem {
    font-size :18px;
    color:#46d4d2;
}
