.box-wrapper-20210728{
    padding: 20px 15px;
    display: flex;
    height: 500px;
    width: 800px;
    /*background: #000;*/
}

.box-wrapper-20210728>div{
    flex: 1;
    padding: 0 20px;
    margin: 0 20px;
    padding-top: 290px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.box-wrapper-20210728>div:first-child{
    background: url(/i/grandmaster/1.png) no-repeat 0 0 / 100% 100%;
}

.box-wrapper-20210728>div:nth-child(2){
    background: url(/i/grandmaster/2.png) no-repeat 0 0 / 100% 100%;
}

.box-wrapper-20210728>div:nth-child(3){
    background: url(/i/grandmaster/3.png) no-repeat 0 0 / 100% 100%;
}

.box-wrapper-20210728>div:last-child{
    background: url(/i/grandmaster/4.png) no-repeat 0 0 / 100% 100%;
}

.row-group1{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* padding: 0 20px; */
    color: #fff;
}

.row-group{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* padding: 0 20px; */
    color: #fff;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row > span:nth-child(1){
    font-size: 14px;
}

.row > span:nth-child(2){
    color: #95bee0;
    font-size: 27px;
    margin-left: auto;
}

.row > span:nth-child(3){
    color: #95bee0;
    font-size: 12px;
    align-self: flex-end;
    position: relative;
    top: -3px;
}

.title{
    position: absolute;
    top: 13px;
    left: 50%;
    color: #62eefb;
    font-size: 26px;
    margin-left: -32px;
    letter-spacing: 6px;
}

.img-group{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
}

.img-group>div{
    flex: 0 0 50%;
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 15px;
    /* margin-right: 0px; */
}

.img-group>div>div{
    flex: 0 0 100%;
    display: flex;
}

.img-group>div>div:first-child{
    align-items: center;
}

.img-group>div>div:last-child{
    color: #95bee0;
}

.img-group>div>div:last-child>span:first-child{
    font-size: 16px;
}

.img-group>div>div:last-child>span:last-child{
    position: relative;
    top: 3px;
    font-size: 12px;
}

.img-group>div:nth-child(2){
    padding-left: 14px;
}

.img-group>div:nth-child(4){
    padding-left: 14px;
}