/*项目特有*/
.box {
    display: flex;
    flex-direction: column;
    background: #000;
}
.aBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divCon1{
  text-align: center;
}
.divCon1_1{
  background: url(../../i/sgc/shanxi/title.png) 0% 0% / 100% 100%;
}
.divCon2{
  height: 300px;
  background-color: aqua;
}
.divCon3{
  height: 300px;
  background-color: bisque;
}
.boxC1{
  text-align: center;
  display: flex;
  justify-content:space-between ;
  align-items: center;
  height: 45px;
}
.dataSec{
  margin-right: 20px;
  display:flex;
}
.titleSpanBox{
  color: white;
  line-height: 40px;
  display: flex;
  justify-content: center;  
}
.span1{
  display: block;
  background: url(/i/sgc/shanxi/title.png) no-repeat 0% 86% / 100% 4px;
  padding: 0 20px;
  font-size:20px;
}
.boxC2{
  flex:1;
  padding-top: 30px;
  width: 100%;
  display: flex;
}
.boxC3{
  width: 100%;
}
body{
  background-color: black;
}
.dataB1{
  margin-left: 5px;
}

input.btnSel[type="button" i]{
  background: #19414B;
}

.ivu-table th{
  text-align: center;
}

.ivu-table td{
  text-align: center;
}
.ivu-date-picker-cells{
  color: black;
}
input[type="button"].btnRed{
  background-color: #4D412C;
}
.ivu-date-picker-header-label{
  color: black;
}

.tpfqd-aside{
  width: 470px;
}

.tpfqd-aside span{
  display: block;
}

a {
    color: #86dcfd;
    /*text-decoration: underline;*/
    text-decoration: none;
    border-bottom: 1px solid #86dcfd;
    padding-bottom: 1px;
}

    a:hover {
        color: #2dcbf2;
        text-decoration: none;
        border-bottom: 1px solid #2dcbf2;
    }

.ivu-poptip-inner {
    background-color: #6a6a6a;
}

.red-text{
    color: red;
}
