.card-warp{
    display:flex;
}
.card-warp{
    height:100%;
    width:100%;
    flex:1;
    display:flex;
    flex-direction:column;
    background: #0A383F40;
}
.card-warp .card-change-arrow{
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    color: #11C9FD;
}
.card-warp .card-content{
    flex:1;
    overflow: auto;
    overflow-x: hidden;
    padding: 0 10px
}

.card-warp .card-content .scroll-bar{
    flex: 0 0 0px;
    background:red;
    height:1000px;
}
.card-item{
    box-sizing:border-box;
    background:#08363D;
    padding:10px;
    margin-bottom:10px;
    position:relative;
    cursor: pointer;
    display: inline-block;
}
 .card-item .item-title{
    position:absolute;
    background: #ffffff20;
    left:10px;
    right:11px;
}
 .card-item .item-img{
    width:100%;
}
.card-item.card-height{
    box-shadow:rgb(218, 42, 18) 0px 0px 10px
}
.Alert3 { color:#F90001 !important; }
.Alert2 { color:#FECF46 !important; }
.Alert1 { color:#0AA0FC !important; }