
.f {
    display: flex;
}

.sb {
    justify-content: space-between;
}

.type-group-wrapper {
    border-top: 1px dashed #3d9990;
}

.type-group {
    padding-top: 10px;
}

.type-title {
    background: linear-gradient(180deg, #fff,#8be6ff);
    -webkit-background-clip: text;
    /*color: #0000;*/
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 0 20px;
    font-size: 16px;
}

.type-group .search-row {
    /*background: #0000;
    padding-top: 0;*/
}

.search-row {
    border-bottom: 1px dashed #13505e;
    padding: 5px 30px;
    align-items: center;
    background: #013a46b3;
}

.search-item {
    display: flex
}

    .search-item .stitle {
        display: inline-block;
        padding: 5px;
        width: 66px;
        color: #79e7ff;
        text-align-last: justify;
        width: 90px;
        height: 30px;
    }

    .search-item .scontent {
        display: flex;
        /*flex-wrap: wrap;*/
        width: calc(100% - 100px);
        overflow: hidden;
    }

    .search-item .smain {
        display: flex;
        max-width: calc(100% - 100px);
    }

    .search-item .buttonall {
        padding: 0 15px;
        height: 30px;
        cursor: pointer;
        margin-right: 10px;
        color: #dbf8ff;
        display: inline-block;
        align-items: center;
        border-radius: 5px;
        border: 1px solid #0000;
        flex-shrink: 0;
        line-height: 28px;
    }

    .search-item .buttonbox {
        flex: 0 0 116px;
        flex-shrink: 0;
        margin-right: 10px;
        width:116px;
    }

    .search-item .button {
        padding: 0 15px;
        height: 30px;
        cursor: pointer;
        color: #dbf8ff;
        display: inline-block;
        align-items: center;
        border-radius: 5px;
        border: 1px solid #0000;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 28px;
        max-width:116px;
    }

    .search-item .selected {
        border: 1px solid #0880a5;
        background: #023845;
        color: #fff;
    }

.search-useful .close {
    display: block;
    /*position: absolute;
    right: 0;
    top: 0;*/
    cursor: pointer;
    width: 22px;
    height: 22px;
    background: url(/i/ctrl/close.png) no-repeat;
    background-position: center;
}

.gradient16 {
    background: linear-gradient(180deg, #fff,#8be6ff);
    -webkit-background-clip: text;
    /*color: #0000;*/
    font-size: 16px;
}
