.bluetable {
    background-color: #FFFFFF;
    text-align: center;
    border-left: 1px solid lightblue;
    border-top: 1px solid lightblue;
    table-layout: fixed;
    border-collapse: collapse;
}

    .bluetable tr td {
        font-size: 10pt;
        border-right: 1px solid lightblue;
        border-bottom: 1px solid lightblue;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
        empty-cells: show;
    }

    .bluetable .first {
        background-color: lightblue;
    }

    .bluetable table td {
        text-overflow: ellipsis;
    }

ul.menu, ul.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
}

    ul.menu a {
        display: block;
        text-decoration: none;
    }

    ul.menu li {
        margin-top: 1px;
    }

        ul.menu li a {
            background: #E0F0F5;
            color: black;
            padding: 0.5em;
            cursor: pointer;
        }

            ul.menu li a:hover {
                background: #85D9EB;
                color: white;
            }

.liSelected {
    border-left: 10px #85D9EB solid;
    font-weight: bold;
}
