#winpop 
{ 
	font-family: ו;font-size:10pt;border: solid 1px #acb9c1;
	overflow:hidden; height:0px; color: #444444; position:absolute;
	display:none; right:-5px;bottom:-5px; text-align:left; line-height:25px;margin: 5px; 
	background-color: #d1dee6; vertical-align:middle; padding-left:5px; padding-right:5px;
    width:160px;z-index:1000;
} 
#winpop .title 
{ 
	font-size: 10pt;   background-color: #e6ebee; font-family: ו ; vertical-align:middle;
	font-weight:bold;  margin-left:-5px; margin-right:-5px; text-align:center;
	position:relative; height:25px;
	left:0px; top:0px;
}
.close 
{ 
	position:absolute; right:0px; vertical-align:middle;
	top:0px; color:#FFFFFF; cursor:pointer
}
#time
{
	  font-family: ו ;font-size: 10pt;vertical-align:middle;
	  position:relative;
}
a
{
	 text-align:right;
	 vertical-align:bottom
}
a:link
{
	color: #002E5B;
	font-size: 10pt;
	text-decoration: none;
}
a:visited
{
	color: #002E5B;
	text-decoration: none;
	font-size: 10pt;
}
a:hover
{
	text-decoration: underline;
	color: #002E5B;
	font-size: 10pt;
}
a:active
{
	text-decoration: none;
	font-size: 10pt;
}
