    html
    {
		margin:0;
		height:100%;
    }
    body 
    {
		margin: 0; 
		background-color: #dbdbdb;
		height:100%;
	}
	img 
	{
		border:none;
		vertical-align:top;
	}
	a
	{
		color:#444444;
		text-decoration:none;
	}
	a:hover 
	{
		color:Red;
		text-decoration:underline;
	}
    .tdtitle
    {
        margin:0;
        padding:0;
	    background-image: url(/i/titlebg12.gif);
	    background-repeat:repeat-x;
	    background-position:top left;
        background-color: #EEEEEE;
        width:100%;
        height:28px;
        font-size: 11pt; 
        font-family:幼圆;
        text-align:center;
        vertical-align:middle;
        color:#444444 ;
        font-weight:bold;
    }
    .tdContent
    {
	    vertical-align: top; 
	    background-color: #ffffff; 
	    padding: 6px;
	    border-left:solid 1px #DBDBDB;
        border-right:solid 1px #c7c7c7;
        text-align:center;
    }
    .tdbottom
    {
        margin:0;
        padding:0;
	    background-image: url(/i/titlebottom12.gif);
	    background-repeat:repeat-x;
	    background-position:top left;
        background-color: #EEEEEE;
        height:19px;
    }
    .tblStyle
    {
	    width: 100%; 
	    height: 100%; 
	    border-collapse: collapse;
	    background-color:Transparent;
    }
    .tdMain 
    {
        padding:3px;
        border:solid 1px #DBDBDB;
    }
    .tdOperBtn 
    {
        height:35px;
        text-align:left;
        vertical-align:bottom;
        padding-left:6px;
        padding-right:20px;
    }
.dwshbbt
{
	background-image:url(/i/dwsb.gif);
    background-repeat: no-repeat;
    width: 86px;
    height: 24px;
    border: none;
    background-color: Transparent;
}
    .bottombg
    {	
		width:100%;
	background-image: url(/i/leftbottombg.jpg);
	background-repeat:repeat-x; 
    background-position:left top;
    height: 39px;
    margin:0;
    padding:0;
    color:#eeeeee;
    }

    .lefttdtd
    {
    border-left: solid 1px #D3D3D3; border-right: solid 1px #D3D3D3;
    font-size:14px;
    padding-left:15px;
    padding-top:10px;
    }
#mask
{
	position: absolute;
	top: 0;
	left: 0;
	width: 10%;
	height: 100%;
	background: #BBBBFF;
	filter:alpha(opacity=30);
	z-index: 100000;
	visibility: hidden;
}
.leftdivcss
{
	 width: 100%; 
	 height: 100%; 
	 margin: 0; 
	 border: 0;
	 background-color: #EBE9EA;
	  padding:3px; 
	  border-left: solid 1px #D3D3D3; 
	  border-right: solid 1px #D3D3D3;
	  vertical-align:top;
}
.dwshbbt
{
	background-image:url(/i/dwsb.gif);
    background-repeat: no-repeat;
    width: 86px;
    height: 24px;
    border: none;
    background-color: Transparent;
}