/* BODY类 */
BODY { font-size:9pt; width:100%; height:100%; margin:0px; padding:0px; background-color:#DBDBDB; }

/* 标题类 */
H1 { font-size:13pt; font-weight:bold; color:#686868; width:100%; float:left;}
/*	H1元素中的SPAN，LABLE的样式	*/
H1 SPAN, H1 Lable { font-size:13pt; font-weight:bold; color:#686868;}
H2 { font-size:11pt; font-weight:bold; color:#686868; width:100%; float:left}
/*	H2元素中的SPAN，LABLE的样式	*/
H2 SPAN, H2 Lable { font-size:11pt; font-weight:bold; color:#686868;}
H3 {}
/*	H3元素中的SPAN，LABLE的样式	*/
H3 SPAN, H3 Lable {}

/* 表格类 */
TABLE { text-align:center; }
/*	表格标题列	*/
TH { background-color:#DDE4EA; text-align:center; font-weight:bold; font-size:10pt; text-align:center ; vertical-align:middle; height:20px; }
TR {}
/*	TR的交替轮换样式	*/
.TR_ALTERNATE_1 { background-color:white;  }
.TR_ALTERNATE_2 { background-color:#DDE4EA; }
/*	TR的选中与不可选的样式	*/
.TR_SELECTED {  background-color:Gray;  }
.TR_UNSELECT { }

TD {  font-size:9pt; }
/*	作为标题的TD的样式，说明	*/
.TD_HEAD_HEAD { background-color:#BECBD4; height:15px; color:#838786;}
/*	作为标题的TD的样式，可编辑框	*/
.TD_HEAD_CONTENT {}
/*	作为主体的TD的样式，说明	*/
.TD_CONTENT_HEAD {}
/*	作为主体的TD的样式，可编辑	*/
.TD_CONTENT_EDIT {}
/*	TD的选中与不可选的样式	*/
.TD_SELECTED {}
.TD_UNSELECT {}


/* 超级链接类 */
A
{
    COLOR:#012c6d;
    TEXT-DECORATION: none;
    font-size:9pt;
}
A:hover
{
	COLOR:#FCC669;
    TEXT-DECORATION: underline
}
A:LINK {}
A:VISITED{}
A:ACTIVE {}

/* 文本框类 */
input { height:18px; border:solid 1px Gray;vertical-align:middle;}
/*	文本框的选中样式	*/
.INPUT_SELECTED {}

/*	按钮类	*/
.INPUT_BUTTON {}
.inputtext
{
	width:100px;
}
/* 下拉框类 */
select { border:solid 1px Red; height:29px;vertical-align:middle; }

/* 图片类 */
IMG { border:none; vertical-align:top;}

/* Lable类 */
LABEL {}
.LABEL_FONT_BIG { font-size:11pt; font-weight:bold;color:#686868;}
.LABEL_FONT_SMALL {}

/*	DIV类	*/
DIV {}


/*	弹出窗口类 */
/*	此处可统一调用一个函数接口，具体样式可以在函数中定义*/

/* 右键菜单类 */
/*	需要定义右键菜单的规则	*/
.grid 
{
	background-color:#a2b1ce;
	vertical-align:middle;
	color:#012c6d;
}
.titlecol
{
	color:#D15F13;
	text-align:center;
}
.rul
{
	margin: 0px; padding: 0px; border: 0px; list-style-type: none; display: inline;
}
.rli
{
		float: left;  
		margin: 0 7px!important;
		margin: 0 5px;  
		padding:0;
		font-size:9pt;
}
.cul
{
		margin: 0px;  
		padding:0px;  
		border: 0px; 
		list-style-type:none;
		display:inline;
}
.cli 
{
		margin:0 0 0 5px;
		padding:0px;
		line-height:150%;
		font-size:9pt;
		list-style-type:none;

}
.imagebutton
{
	border:solid 0px White;
	float:left;
}

.tdClass
{
	font-size:9pt;
}
.tblStyle
{
	width: 100%; 
	height: 100%; 
	border-collapse: collapse;
	overflow-x:auto;
	overflow-y:hidden;
	background-color: #EEEEEE;
}
.tdtitle
{
    margin:0;
    padding:0;
	background-image: url(../../i/titlebg12.gif);
	background-repeat:repeat-x;
	background-position:top left;
    background-color: #EEEEEE;
    width:100%;
}
.tdbottom
{
    margin:0;
    padding:0;
	background-image: url(../../i/titlebottom12.gif);
	background-repeat:repeat-x;
	background-position:top left;
    background-color: #EEEEEE;
}
.tdButtons
{
	height: 18px; 
	background-color: #EEEEEE; 
	margin:0;
	padding:0;	
	border-bottom: solid 1px #CCCCCC;
	vertical-align: bottom;
}
.tdContent
{
	vertical-align: top; 
	background-color: #EEEEEE; 
	padding: 5px;
}
.funcbtn
{
	/*height: 29px;
	background-color:White;
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
	text-align: center;
	cursor: hand;
	float:none;
	color:#777777;
	font-weight:bold;
	padding-left:20px;
	padding-top:5px;*/
	margin-top:5px;
}
.btnclass
{
	background-color:#001A85;
	border-width:0px;
	color:White;
	cursor:pointer;
}
.revpopup
{
	/*border:solid 1px Red;*/
	position:absolute;
	display:none;
	width:300px;
	height:50px;
	color:Black;
	z-index:99;
	line-height:50px;
	text-align:center;
	background-color:#FFFFEE;
	/*
	bottom:5px;
	left:10px;*/
}
