.divDataCurveEdit table
{
    width: 100%;
    border-left: 1px solid #676767;
    border-top: 1px solid #676767;
    border-collapse: collapse;
}

    .divDataCurveEdit table td, .divDataCurveEdit table th
    {
        border-right: 1px solid #676767;
        border-bottom: 1px solid #676767;
        padding: 0;
        font-size: 12pt;
        white-space: nowrap;
        text-align: center;
    }

.dceFirst
{
    color: #012c6d;
    background-color: #D9EAFD;
    text-align: center;
}

.dceLower
{
    color: green;
}

.dceHigher
{
    color: red;
}
