

ul, li
{
    margin: 0;
    padding: 0;
}
#wrap
{
    width: 650px;
    margin: 0 auto;
}
.autoDis
{
    position: absolute;
    overflow: hidden;
}
.autoDis p
{
    line-height: 25px;
    cursor: default;
    padding: 0 5px;
}
.autoDis li
{
    line-height: 25px;
    cursor: default;
    padding: 0 5px;
    white-space: nowrap;
    background-color: #fff;
}
.autoDis li a
{
    text-decoration: none;
}
.autoDis li a:hover
{
    text-decoration: underline;
}
.autoDis .cur
{
    background: #ccc;
}
