.dlg .ivu-poptip-inner{
    background: #02586b;
}

.dlg .ivu-poptip-popper[x-placement^=top] .ivu-poptip-arrow {
    bottom: 3px;
    border-width: 7px 7px 0;
    border-top-color: #02586b;
}

.dlg .ivu-poptip-popper[x-placement^=top] .ivu-poptip-arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -7px;
    border-bottom-width: 0;
    border-top-width: 7px;
    border-top-color: #02586b;
}

.dlg .ivu-select-input{
    background: #023845;
}

.dlg .ivu-select-dropdown {
    /* --ivu-select-dropdown-bg:
    rgb(2 88 107); */
    --ivu-select-box-shadow: rgb(2 88 107 / 20%);
}

.dlg .ivu-select-item:hover {
    background: #0c7d97;
}

.dlg .ivu-select-item-selected, .ivu-select-item-selected:hover {
    --ivu-select-item-selected-color: #fff;
}

.dlg .ivu-select-single .ivu-select-selection {
    --ivu-formcomp-height: 3.4rem;
}

.dlg .ivu-select-item-focus {
    background: #0c7d97;
}

.dlg .ivu-select-selection {
    --ivu-formcomp-bg: #023845;
    --ivu-formcomp-border-color: #0880a5;
}

.dlg .ivu-select-input{
    color: #fff;
}

.dlg .ivu-select-arrow {
    --ivu-select-arrow-color: #fff;
}

.dlg .ivu-select {
    --ivu-formcomp-width-medium: 300px;
}