 .tbCss
    {
        background-color:#acb9c1;
        width: 580px; font-size:11px;
    }
    #tbmain td
    {
        background-color:#ffffff;
        text-align:center;
        height:20px;
    }
    .div1
    {
		border:solid 1px red;
    }
    
    .setSchCss
{
	background-image: url(/i/setSch.gif);
	width: 61px;
	height: 24px;
}

 .setSchdulCss
{
	background-image: url(/i/setSchdul.gif);
	width: 109px;
	height: 24px;
}