.tablelist
{
	font-size:10pt;
	/*background-color:#c7c7c7;*/
	text-align:center;
	vertical-align:middle;
	margin:0;
	border-left:solid 1px #A2B1CE;
	border-top:solid 1px #A2B1CE;
	width:99%;
}
.HeadRow_blue
{
	color:#434544;
	background-color:#d3dee2;
	background-image:url(../../i/bg1.gif);
	background-position:top left;
	background-repeat:repeat-x;
	height:25px;
	font-size:10pt;
}
.HeadRow_gray
{
	color:#434544;
	background-color:#d3dee2;
	background-image:url(../../i/bg1.gif);
	background-position:top left;
	background-repeat:repeat-x;
	height:25px;
}
.edittabletd_h
{
	background-color:#B6BABB;
	color:#434544;
	height:25px;
	border-bottom:solid 1px #A2B1CE;
	border-right:solid 1px #A2B1CE;
}
.edittabletd
{
	background-color:White;
	height:22px;
	border-bottom:solid 1px #A2B1CE;
	border-right:solid 1px #A2B1CE;
	text-align:center;
	vertical-align:middle;
}
.edittabletd input[type="text"]
{
	
}
.edittable_A:link
{
    text-decoration: none;
	color:blue;
}
.edittable_A:visited
{
    text-decoration: none;
	color:blue;
}
.edittable_A:hover
{
    text-decoration: underline;
    color: red;
    position: relative; 
    left:1px;
    top:1px;
}
.edittable_A:active
{
    text-decoration: none
}
.checkboxcss {
	BORDER-RIGHT: transparent 0px; BORDER-TOP: transparent 0px; BORDER-LEFT: transparent 0px; BORDER-BOTTOM: transparent 0px; BACKGROUND-COLOR: transparent
}

.editinput
{	BORDER-RIGHT: transparent 0px; BORDER-TOP: transparent 0px; BORDER-LEFT: transparent 0px; BORDER-BOTTOM: transparent 0px; BACKGROUND-COLOR: transparent
	}

.rowColor
{
	BACKGROUND-COLOR: #d3dee2;
}
	
.urgencyColor
{
	color:#C25207;border-right: #B5B4B4 1px solid; border-bottom: #B5B4B4 1px solid
}
.extremityColor
{
		color:red;border-right: #B5B4B4 1px solid; border-bottom: #B5B4B4 1px solid
}