html
{
	width:100%;
	height:100%;	
}
img
{
	border:0;	
}
a
{
	color:#000;
	text-decoration:none;	
	vertical-align: middle;
	font-size:12px;	
}
a:hover
{
	color:Red;	
}
hr
{
	border:1px dashed #d5d5d5;
	margin-bottom:2px;	
}
body 
{
	margin: 0px auto;
	font-size:13px;
	height:100%;	background-color:#f5f5f5;
}

#tbBodyer
{
	width:100%;	
	height:100%;
}

#tbProperty
{
	background-color:#eee;
	width:300px;	
}

#tbProperty .hover
{
	background-color:#f5f5f5;
	cursor:hand;
}



.field-title
{
	height:26px;
	font-weight:bold;
	padding-left:5px;
}
.field-name
{
	border-left:5px solid #eee;
	width:90px;	
	background-color:#ffffff;
	height:24px;	
	text-align:right;
	padding-right:5px;
}
.field-content
{
	margin:0px;
	padding-left:5px;
	width:210px;	
	text-align:left;
	background-color:#ffffff;
	height:24px;
}
#divFieldMemo
{
	padding:5px 5px 30px 10px;
	width:280px;
	word-break:break-all;
	text-indent:20px;
	line-height:20px;
}


#tbLabel
{
	 border:0;
	 width:100%;  
}

#tbLabel td
{
	padding-left:5px;	
}



#divFields
{  
	z-index:9999999999999;
	clear: both; 
    position: absolute; 
    width: 200px; 
    display: block;    
    background-color:#ffffff;
    border-left:solid #d5d5d5 1px;
    border-right:solid #d5d5d5 1px;
    border-bottom:solid #d5d5d5 1px;
}




#divFields span
{
    display: block;
    padding: 3px;
}
    
#divFields a
{
    text-decoration:none;
}
#divFields a:hover
{
    font-weight:bold;
}

#divFields p
{
	padding:0px;
	margin: 5 10 0 0;
	text-align:right;
}

.divDatabase
{
	width:100px;	
	height:30px;
	line-height:30px;	
}
.database
{	
	background:url('/i/database.png');
	height:25px;
	width:25px;
	float:left;
}

.database a
{
	float:left;
	color:#000000;	
}

#divLeft   
{   
    width:300px;   
    height: 100%;    
    position: absolute;   
    top:0;   
    left:0;   
    display:block;
}

#divContent
{   
    width:100%;   
    height: 100%;    
    position: absolute;   
    top:0;   
    left:300;   
    display:block;
}

