    #tblContent {
       margin-top:10px; 
    }
    #tblContent tr
    {
		height:25px;
    }
    #tblContent td {
        font-size:10pt;
        color:#444444;
        padding:2px 5px 2px 5px;
    }
    #tblContent td input,#tblContent td select {
        width:100px;
        background-color:White;
        border:solid 1px #a8a8a8;
        color:#444444;
    }
    #tblContent2 tr
    {
		height:25px;
    }
    #tblContent2 td {
        font-size:10pt;
        color:#444444;
        padding:2px 5px 2px 5px;
    }
    #tblContent2 td input,#tblContent2 td select {
        width:100px;
        background-color:White;
        border:solid 1px #a8a8a8;
        color:#444444;
    }
    #tblContent3 tr
    {
		height:25px;
    }
    #tblContent3 td {
        font-size:10pt;
        color:#444444;
        padding:2px 5px 2px 5px;
    }
    #tblContent3 td input,#tblContent2 td select {
        width:100px;
        background-color:White;
        border:solid 1px #a8a8a8;
        color:#444444;
    }
    .tableStyle
    {
		background-color:#858585;
    }
    #divContent
    {
		width: 100%; 
		overflow-x: hidden; 
		overflow-y: auto; 
		height: 100%;
    }
    #divContent1
    {
		width: 100%; 
    }
    #divContent2
    {
		width: 100%; 
    }
    #divContent3
    {
		width: 100%; 
    }
    .Unit
    {
		color:Fuchsia;
    }
    
    /* lin 添加用于文本框验证 */
.highlight
{
	width:130px;
    background-image: none !important;
    background-color: #fffacd !important;
	color: Black;
}

.alertbox
{
    position: absolute;
    padding-left: 45px;
    width: 216;
    background: url(../../i/aarow.png) no-repeat left top;
    color: Black;
}

.alertbox div
{
    min-height: 34px;
    width: 200px;
    padding: 8px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #FFEB8C;
}
.dwshbbt
{
	background-image:url(../../i/dwsb.gif);
	background-repeat:no-repeat;width:86px; height:24px; border:none;background-color:Transparent;
}
.tdtitle
{
    margin:0;
    padding:0;
    background-image: url(../../i/2.jpg);
    background-repeat:repeat-x;
    background-position:top left;
    background-color: #EEEEEE;
    width:100%;
    height:28px;
    font-size: 11pt; 
    font-family:幼圆;
    text-align:center;
    vertical-align:middle;
    color:#444444 ;
    font-weight:bold;
}
