P
{
    font-size: 12px;
    color: #000000;
    line-height: 150%;
}
SELECT
{
    font-size: 12px;
    color: #000000;
    line-height: 150%;
}
BODY
{
    font-size: 12px;
    color: #000000;
    line-height: 150%;
    margin: 0px;
}
img
{
    border: 0px;
}
A:lin .font1
{
    font: 12px/150% "宋体";
    color: #000000;
}
.font2
{
    font: 15px/150% "宋体";
    color: #000000;
}
.font3
{
    font: 12px/150% "宋体";
    color: #ffffff;
}
.tnt
{
    writing-mode: tb-rl;
    text-align: center;
}
.t1
{
    font: 12px 宋体;
    color: #000000;
}
.t2
{
    font: 12px 宋体;
    color: #ffffff;
}
.bt1
{
    font: 14px 宋体;
    color: #000000;
}
.bt2
{
    font: 14px 宋体;
    color: #ffffff;
}
INPUT
{
    font-size: 12px;
    color: #000000;
}
.input1
{
    border-right: #55bbff 1px solid;
    border-top: #1251a5 1px solid;
    font-size: 12px;
    border-left: #1251a5 1px solid;
    color: #ffffff;
    border-bottom: #55bbff 1px solid;
    font-family: "宋体";
    background-color: #2579dd;
}
TD
{
    font-size: 12px;
    color: #111111;
}
.tnt
{
    vertical-align: middle;
    letter-spacing: 3px;
}
.button
{
    color: #333333;
    height: 20px;
    padding-top: 2px;
    background-color: #DDDDDD;
    border: 1px solid #333333;
}
.text
{
    height: 15px;
    border: #DDDDDD 1px solid;
}
.td_bc
{
    background-color: #e3effb;
}
k
{
    font-size: 12px;
    color: #000066;
    text-decoration: underline;
}
