.fontBold {
    font-weight: bold;
}

.trBgColor1 td {
    background-color : #FFFFFF!important;
}

.trBgColor2 td {
    background-color : #f5f8f9!important;
}

.trColor td {
    color : red;
}
