@charset "utf-8";
/* CSS Document */
body
{
    background-color: buttonface;
    margin: 17px 0px 0px 17px;
    border: none;
    overflow: hidden;
}

.t_area
{
    border: solid 1px Gray;
    vertical-align: middle;
    overflow-y: visible;
}

.btn
{
    height: 21px;
}

.mptbl
{
    text-align: center;
    width: 100%;
    border-left: 1px solid #ACA899;
    border-top: 1px solid #ACA899;
    table-layout: fixed;
    overflow-y: scroll;
}

    .mptbl tr
    {
        height: 20px;
    }

        .mptbl tr th
        {
            border-right: 1px solid #ACA899;
            border-bottom: 1px solid #ACA899;
            background-color: #ECE9D8;
        }

        .mptbl tr td
        {
            border-right: 2px solid #ECE9D8;
            border-bottom: 2px solid #ECE9D8;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 5px;
            font-size: 14px;
        }
