/*-----------------------------------------------------------------------------------------------*/
/*                                         OptionalConditionSearch                                               */
/*-----------------------------------------------------------------------------------------------*/

.optionalDiv
{
    width: 0px;
    height: 0px;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    border: 1px #8FA4F5 solid;
    padding: 1px;
    background: #fff;
}
.optionalDiv .optiontitle
{
    height: 25px;
    font-size: 14px;
    background-color: #3366cc;
    position: relative;
    line-height: 25px;
    color: #fff;
}
.optionalDiv .optiontitle .optiondrag
{
    padding-left: 10px;
    position: absolute;
    width: 795px;
    font-size: 14px;
    color: #fff;
}

.optionalDiv .optiontitle .close
{
    width:24px;
    height:24px;
    position: absolute;
    right: 5px;
    top: 0;
    cursor:hand;
}

.optionalDiv .optionlist
{
    position: absolute;
    width: 220px;
    height: 572px;
    background-color: #D4DAF2;
    float: left;
    margin: 0;
    display: inline;
    overflow:auto;
}
.optionalDiv .optionlist ul
{
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15em;
}
.optionalDiv .optionlist ul li
{
    margin: 0;
    padding: 0px;
    height: 25px;
}
.optionalDiv .optionlist ul li a
{
    display: block;
    background: #58595D;
    color: #FFFCFA;
    padding: 0.5em;
    text-decoration: none;
}

.optionalDiv .optionlist ul li a:hover
{
    background: #94BB3F;
    color: #3E5706;
    text-decoration: none;
}

.optionalDiv .optionlist ul li ul li a
{
    display: block;
    background: #e5e5e5;
    color: #797979;
    padding-left: 20px;
    text-decoration: none;
}

.optionalDiv .optionlist ul li ul li a:hover
{
    background: #efefef;
    border-left: 5px #000 solid;
    padding-left: 15px;
    text-decoration: none;
}

.optionalDiv .mainwindow
{
    position: absolute;
    width: 575px;
    height: 572px;
    background-color: #D4DAF2;
    float: right;
    margin: 0 0 0 221px;
    display: inline;
}

.optionalDiv .currentcondition
{
    position: relative;
    top: 8px;
    left: 10px;
    width: 550px;
    height: 25px;
}

.optionalDiv .optionbuttons
{
    position: relative;
    top: 10px;
    left: 10px;
    width: 550px;
    height: 25px;
}

.mask
{
    background: #666;
    position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.optionalDiv .sqlarea
{
    position: relative;
    top: 10px;
    left: 10px;
    width: 550px;
    height: 500px;
    background-color: White;
    line-height: 120%;
    overflow:auto;
}
