 span{COLOR:#012c6d;font-size:9pt;}
 .review 
 {
	vertical-align:middle;
	background-color:White;
	COLOR: #205064; 
    border: solid 1px #a0a0a0;
    overflow-y:auto;
    width: 100%; 
    height: 50px;
 }
 #cellButtons span input
 {BORDER-RIGHT: #DBDBDB 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #DBDBDB 1px solid; PADDING-LEFT: 2px;height:25px;font-weight:500;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5); 
    BORDER-LEFT: #DBDBDB 1px solid; CURSOR: hand; COLOR: #444444; PADDING-TOP: 2px; BORDER-BOTTOM: #DBDBDB 1px solid
 }
