html
{
	width:100%;
	height:100%;	
}
body 
{
	margin: 0px auto;
	font-size:13px;
	height:100%;	
}


#divReport
{
	background-color:#eee;
	width:500px;
	border:1px solid #ddd;
	z-index:9999;
	position:absolute;
}

#divReport-top
{
	height:25px;
	width:100%;
	background-color:#10366a;
}
/*69c3eb*/
#divReport-top .title
{
	float:left;
	padding-left:5px;
	line-height:25px;
	color:#ffffff;
	font-weight:bold;
}

#divReport-top .close
{
	float:right;
	padding-right:10px;	
	line-height:25px;
}

#divReport-name
{
	height:30px;
	line-height:30px;
	padding-left:3px;	
	border-bottom:1px solid #ddd;
	color:#a0a0a0;
}

#divReport-content
{
	width:100%;
	height:100%;
	
}

#divReport-bottom
{
	text-align:right;
	padding:10px 0px 10px 0px;
}




.fieldset
{
	margin:5px 0px 5px 0px;
}

.list
{
	height:150px;
	width:97%;
	overflow-y:auto;
	
}

.stepTable
{
	width:100%;
	font-size:12px;
	color:#4e4c4c;
}
.stepTable td
{
	height:20px;
}
.stepTable th
{
	background-color:#e8e8e8;	
	height:25px;
}
.col
{
	text-align:center;	
}
.label
{
	text-align:center;
}

.field-control
{
	text-align:left;	
}

.cussql
{
	height:100%;	
}

a.close
{
	color:#ffffff;	
}

#divDataSource
{
	width: 360px;
}

     
.window
{
	z-index:9999;
	clear: both; 
    position: absolute; 
    display: none;    
    background-color:#ffffff;
    border-top:solid #d5d5d5 1px;
    border-left:solid #d5d5d5 1px;
    border-right:solid #d5d5d5 1px;
    border-bottom:solid #d5d5d5 1px;
}

.window-top
{
	height:25px;
	line-height:25px;
	width:100%;
	background-color:#10366a;
}

.window-title
{
	width:100px;
	float:left;
	color:#ffffff;
	font-weight:bold;
	padding-left:10px;	
}

.window-action
{
	width:100px;
	float:right;
	padding-right:5px;
	text-align:right;
}

.window-body
{
	width:100%;
	padding:5px;
}

.window-bottom
{
	background:#f5f5f5;	
	border-top:solid #ddd 1px;text-align:right;
	padding:5px 10px 5px 0px;
	
}

a.close-window
{
	margin:5px;
	background:url('/i/close.png') no-repeat;
	height:15px; width:15px;
}

a.close-addattr
{
	margin:5px;
	background:url('/i/close.png') no-repeat;
	height:15px; width:15px;
}

#divSelectDataSource
{
	z-index:9999;
	clear: both; 
    position: absolute; 
    display: none;    
    width:90%;
    background-color:#ffffff;
    border-left:solid #d5d5d5 1px;
    border-right:solid #d5d5d5 1px;
    border-bottom:solid #d5d5d5 1px;
}
#divSelectDataSource span
{
    display: block;
    padding: 3px;
}
    
#divSelectDataSource a
{
    text-decoration:none;
}
#divSelectDataSource a:hover
{
    font-weight:bold;
}

#divSelectDataSource p
{
	padding:0px;
	margin: 5 10 0 0;
	text-align:right;
}



#divFillData
{
	width: 400px;z-index:999999;	
}


#divSourceFillData
{
	width:300px;	z-index:999999;	
}



#divReportMenu
{
	clear:both;
	width:100%;
	height:28px;
	line-height:28px;	
}

#divReportMenu ul
{
	list-style:none;		
	padding:0px;
	margin:0px;
}
#divReportMenu ul li
{
	
	float:left;
	font-weight:bold;
	margin:0px 10px 0px 10px;
}

#divReportMenu ul li a
{
	padding:0px 10px 0px 10px;
	display:block;	
	
}

#divReportMenu ul li a:hover
{
	background:#d9d9d9;
}

.selectTab
{
	padding:0px 10px 0px 10px;
	background:#d9d9d9;		
}



#divSelectTable {width:300px;z-index:999999;	}
#divSelectTableContent{	width:285px;	height:260px;	overflow-y:auto;}
#divSelectTableContent ol{	padding:0px;	margin:0px; list-style-type:decimal;	}
#divSelectTableContent ol li{	padding-left:5px; height:25px; line-height:25px;	}
#divSelectTableContent ol li a{	font-size:13px; height:25px; line-height:25px;	}



#divTempSetting { width: 300px;z-index:999999; }



#divAdvancedSetting {width: 850px;	height: 600px;	z-index:999999;	}
#iframeAdvancedSetting { width: 850px;	height: 600px; }

.note-content
{
	width:100%;
	height:450px;
	overflow-y:auto;	
	float:left;
}

.th-title
{
	height:26px;
	background-color:#efefef;
	padding-left:10px;
	font-weight:bold;	
	cursor:pointer;
}

.node-title
{
	background:#c5cecd;
	height:20px;
	padding-left:5px;	
}



#divAddAttribute
{
	width: 400px;
	z-index:999999;	
}








.selectSourceField
{
	z-index:9999;
	clear: both; 
    position: absolute; 
    display: none;    
    overflow:auto;
    background-color:#ffffff;
    border-left:solid #d5d5d5 1px;
    border-right:solid #d5d5d5 1px;
    border-bottom:solid #d5d5d5 1px;
}
.selectSourceField p
{
	padding:0px;
	margin: 5 10 0 0;
	text-align:right;
}
.selectSourceField ul
{
	padding:0px 0px 20px 0px;
	margin:0px;
}
.selectSourceField ul li
{
	width:100px;
	float:left;
	padding-left:10px;
	height:20px;
}