.bluetable
        {
            background-color:#FFFFFF;
            text-align: center;
            width: 100%;
            border-left: 1px solid lightblue;
            border-top: 1px solid lightblue;
            table-layout: fixed;
        }

            .bluetable tr td
            {
                border-right: 1px solid lightblue;
                border-bottom: 1px solid lightblue;
            }

            .bluetable .first
            {
                background-color: lightblue;
            }

            .bluetable table td
            {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }