TABLE {
}

.tb_blue 
{
	font-size:10pt;
	border-right: #c0c0c0 1px solid; 
	border-top: #a0a0a0 1px solid; 
	border-left: #c0c0c0 1px solid; 
	border-bottom: #a0a0a0 1px solid;	
}

.tb_gray
{
	font-size:10pt;
	border-right: #c0c0c0 1px solid; 
	border-top: #a0a0a0 1px solid; 
	border-left: #c0c0c0 1px solid; 
	border-bottom: #a0a0a0 1px solid;	
}

TR {
}
.thead_blue {
	font-weight:bold;
	color:#FFFFFF;
	background-color:#007CD0
}
.thead_gray {
	font-weight:bold;
	color:#003399;
	background-color:#d0d0d0
}
.tr_blue_light {
	background-color:#FFFFFF;
}
.tr_blue_deep {
	background-color:#e0e0e0;
}
.tr_gray_light {
	background-color:#ffffff;
}
.tr_gray_deep {
	background-color:#e0e0e0;
}

TD {
}
.td_blue {
	border-right: #B5B4B4 0px solid; 
	border-bottom: #B5B4B4 1px solid
}
.td_gray {
	border-right: #B5B4B4 1px solid; 
	border-bottom: #B5B4B4 1px solid
}

h2 {
	font-size: 15pt;
	font-family: '华文新魏';
}
