/*-----------------------------------------------------------------------------------------------*/
/*                                         TOOLTIP STYLES                                        */
/*-----------------------------------------------------------------------------------------------*/

.tip
{
    line-height: 150%;
    width: 212px;
    padding-top: 17px;
    overflow: hidden;
    display: none;
    position: absolute;
    z-index: 500;
    background: transparent url(/i/tipTop.png) no-repeat top;
}

.tipMid
{
    background: transparent url(/i/tipMid.png) repeat-y;
    padding: 0 25px 0 25px;
}

.tipBtm
{
    background: transparent url(/i/tipBtm.png) no-repeat bottom;
    top: -2px;
    height: 17px;
}
