body 
{
   background-color: #EEEEEE;
}
a:link {
	text-decoration: none;
	color:blue;
}
a:visited {
	text-decoration: none;
	color:blue;
}
a:hover {
	text-decoration: underline;
    color: red;
    position: relative; 
    left:1px;
    top:1px;
}
a:active {
	text-decoration: none;
}

.buttonstyle
{
	width: 90px;
    height: 22px; 
    font-size: 9pt; 
}
.tblStyle
{
	width: 100%; 
	height: 100%;
}
.tblStyle td
{
	color:#444444;
	font-size:10pt;
}
#divlist
{
	width:100%; 
	height:100%; 
	overflow-y:auto; 
	vertical-align:top;
}
.buttonstyle
{
    height: 24px; 
    background-color:Transparent;
    background-position:center center;
    background-repeat:no-repeat;
    border:none;
}
.buttonstyle1
{
	width: 60px;
    height: 24px; 
    background-color:Transparent;
    background-position:center center;
    background-repeat:no-repeat;
    border:none;
}
#btnRoleSet
{
	background-image:url(../../i/jsqx.gif);
	width: 86px;
}
#btnRoleSheZhi
{
	background-image:url(../../i/szjs.gif);
	width: 86px;
}
#btnBack
{
	background-image:url(../../i/fh.gif);
	width: 86px;
}
#btnCreateUser
{
	background-image:url(../../i/xjyh.gif);
	width: 86px;
}
#btnEditUser
{
	background-image:url(../../i/xgyh.gif);
	width: 86px;
}
#btnAddUser
{
	background-image:url(../../i/tjyhdgz.gif);
	width: 124px;
}
#btnAddUserToOther
{
	background-image:url(../../i/tjyhdqtz.gif);
	width: 137px;
}
#btnDelUser
{
	background-image:url(../../i/cgzsc.gif);
	width: 126px;
}
#btnDeleteUser
{
	background-image:url(../../i/cdsc.gif);
	width: 112px;
}
#btnCreate,#btnClose
{
    height: 22px;
    width:59px; 
    background-color:Transparent;
    background-position:center center;
    background-repeat:no-repeat;
    border:none;
}
#btnCreate
{
	background-image:url(../../i/tianjia.gif);
}
#btnClose
{
	background-image:url(../../i/guanbi.gif);
}