html
{
	width:100%;
	height:100%;	
}
body 
{
	margin: 0px auto;
	font-size:13px;
	height:100%;	
}


img{ border:0px; }
a{ color:Blue; font-size:12px; text-decoration:none;}

.clear{ clear:both; height:10px; }
.control-w-80{ width:80px; }
.control-w-150{ width:148px; }
.control-w-157{ width:157px; }
.control-w-210{ width:210px; }
.fieldset{	margin:0px 0px 0px 0px; }

.propertyTable{ width:100%;	font-size:12px; margin:5px 0px 0px 0px; }
.propertyTable td.label{ text-align:center; }


.list{	width:98%;	overflow-y:auto; }
.list img { width:16px; height:16px;}
.listTable
{
	width:98%;
	font-size:12px;
	color:#4e4c4c;
	margin-top:10px;
	margin-left:5px;
}
.listTable th
{
	background-color:Silver;	
	height:25px;
}
.listTable td
{
	height:25px;
	text-align:center;
	border: 1px solid Silver;
	color:#000000;
}
.label
{
	text-align:center;
}




#divSelectDataSource
{
	z-index:9999;
	clear: both; 
    position: absolute; 
    display: none;    
    width:150px;
    background-color:#ffffff;
    border-left:solid #d5d5d5 1px;
    border-right:solid #d5d5d5 1px;
    border-bottom:solid #d5d5d5 1px;
    padding-bottom:10px;
}
#divSelectDataSource span
{
    display: block;
    padding: 3px;
}
    
#divSelectDataSource  a
{
    height:22px;
    line-height:22px;
    margin-left:5px;
    text-decoration:none;
    color:Black;
}
#divSelectDataSource  a:hover
{
    font-weight:bold;
    color:Red;
    background-color:#efefef;
    display:block;
}

#divSelectDataSource p
{
	padding:0px;
	margin: 5px 10px 0px 0px;
	text-align:right;
}




.selectSourceField
{
	z-index:9999;
	clear: both; 
    position: absolute; 
    display: none;    
    overflow:auto;
    background-color:#ffffff;
    border-left:solid #d5d5d5 1px;
    border-right:solid #d5d5d5 1px;
    border-bottom:solid #d5d5d5 1px;
}
.selectSourceField p
{
	padding:0px;
	margin: 5px 10px 0px 0px;
	text-align:right;
}
.selectSourceField h3
{
    padding: 0px 0px 0px 5px;
    margin:0px;    
}
.selectSourceField ul
{
	padding:0px 0px 20px 0px;
	margin:0px;
}
.selectSourceField ul li
{
    border:0px;
	width:100px;
	float:left;
	height:20px;    
}
.selectSourceField ul li a
{
    height:22px;
    line-height:22px;
    text-decoration:none;
    color:Black;
}
.selectSourceField ul li a:hover
{
    font-weight:bold;
    color:Red;
    background-color:#efefef;
    display:block;
}




#divAdvancedSetting {width: 850px;	height: 600px;	z-index:999999;	}
.note-content
{
	width:100%;
	height:450px;
	overflow-y:auto;	
	float:left;
}

.th-title
{
	height:26px;
	background-color:Silver;	
	padding-left:10px;
	font-weight:bold;	
	cursor:pointer;
}

.node-title
{
	background:#c5cecd;
	height:20px;
	padding-left:5px;	
}



#divAddAttribute
{
	width: 400px;
	z-index:999999;	
}


.window
{
	z-index:9999;
	clear: both; 
    position: absolute; 
    display:none;
    background-color:#ffffff;
    border-top:solid #d5d5d5 1px;
    border-left:solid #d5d5d5 1px;
    border-right:solid #d5d5d5 1px;
    border-bottom:solid #d5d5d5 1px;
}

.window-top
{
	height:25px;
	line-height:25px;
	width:100%;
	background-color:#10366a;
}

.window-title
{
	width:100px;
	float:left;
	color:#ffffff;
	font-weight:bold;
	padding-left:10px;
}

.window-action
{
	width:100px;
	float:right;
	padding-right:5px;
	text-align:right;
}

.window-body
{
	width:100%;
}

.window-bottom
{
	background:#f5f5f5;	
	border-top:solid #ddd 1px;text-align:right;
	padding:5px 10px 5px 0px;
	
}
a.close-window
{
	margin:5px;
	background:url('/i/close.png') no-repeat;
	height:15px; width:15px;
}

a.close-addattr
{
	margin:5px;
	background:url('/i/close.png') no-repeat;
	height:15px; width:15px;
	padding:0px 10px 0px 10px;
}