html
{
	height: 100%;
}
body 
{
	margin: 0px;
	padding: 5px;
	background-color: #dbdbdb;
	overflow: hidden;
}
.titleCss
{
	font-size: 14pt;
	font-weight: bold;
	font-family: 黑体;
	color: #444444;
	vertical-align: middle;
}
.topTitle
{
	background-image: url(/i/Layout/toptitle1.jpg);
}
.bottomCss
{
	background-image: url(/i/Layout/bottom1.jpg);
}
.sTitle
{
	background-image: url(/i/Layout/sTitle1.jpg);
	font-weight: bold;
}
.sBottomCss
{
	background-image: url(/i/Layout/sBottom1.jpg);
}