html, body, #cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
:focus {
    outline-style: none;
}
body {
    _background: #000000;
    padding: 0;
    margin: 0;
    font-weight: bold;
    overflow: hidden
}

#container {
    position: relative;
    _margin-top: 100px;
    height:100%;
    width:100%;
}

    #container canvas {
        position: absolute;
    }

canvas {
    background-color: transparent;
}

.iconImg, iconImgPat {
    position: absolute;
    _background-color: #d06e16;
    background-image: url(/i/zhishipai.png);
    border-radius: 5px;
    min-width: 20px;
    max-width: 280px;
    min-height: 30px;
    padding: 2px 15px;
    opacity: 0.9;
    font-size: 16px;
    height: 50px;
    line-height: 35px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
}

.lineInfo {
    position: absolute;
    _background-color: #d06e16;
    background-image: url(/i/zhishipai.png);
    border-radius: 5px;
    min-width: 20px;
    max-width: 180px;
    min-height: 30px;
    padding: 2px 15px;
    opacity: 0.9;
    font-size: 16px;
    height: 50px;
    line-height: 35px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.PQInfo {
    position: absolute;
    _background-color: #d06e16;
    background-image: url(/i/zhishipai.png);
    border-radius: 5px;
    min-width: 20px;
    max-width: 180px;
    min-height: 30px;
    padding: 30px 25px 0px 25px;
    opacity: 0.9;
    font-size: 16px;
    height: 150px;
    line-height: 25px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
}

#cesiumContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-filter: saturate(1);
}

canvas {
    position: absolute;
    background-color: transparent;
}

.cesium-viewer-toolbar {
    z-index: 100;
}

#menu {
    background-color: #000;
    width: auto; /*设置为0 隐藏自定义菜单*/
    height: auto;
    overflow: hidden; /*隐藏溢出的元素*/
    position: absolute; /*自定义菜单相对与body元素进行定位*/
    _border-radius: 3px;
    border: 8px;
    top: 0px;
    right: 0px;
    display: none;
    color: #fff;
}

.menuInfo {
    width: 125px;
    line-height: 25px;
    padding: 5px;
    opacity: 0.9;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    cursor: ne-resize;
}

#cameraicon ul a {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100%;
}

#cameraicon ul {
    padding: 0px;
    height: 70px;
    /*display: flex;
    flex-direction: column;*/
}

#cameraicon ul li {
    list-style: none;
    width: 66px;
    height: 66px;
    padding: 2px;
}

#cameraicon ul li:hover {
    list-style: none;
    width: 70px;
    height: 70px;
    padding: 0px;
}

#cameraicon ul li {
    float: left;
}

#cameraicon ul li a:link, a:visited {
    display: inline-block;   
    background-size: 100%;
}

/*鼠标经过*/
#position1 > a {
    background: url(/i/CameraIcon/1-1.png) no-repeat;
    background-size: 100%;
}

    #position1 > a:hover {
        background: url(/i/CameraIcon/1.png) no-repeat;
        background-position: bottom;
        background-size: 100%;
    }

#position2 > a {
    background: url(/i/CameraIcon/2-2.png) no-repeat;
    background-size: 100%;
}

    #position2 > a:hover {
        background: url(/i/CameraIcon/2.png) no-repeat;
        background-position: bottom;
        background-size: 100%;
    }

#position3 > a {
    background: url(/i/CameraIcon/3-3.png) no-repeat;
    background-size: 100%;
    background-size: 100%;
}

    #position3 > a:hover {
        background: url(/i/CameraIcon/3.png) no-repeat;
        background-position: bottom;
        background-size: 100%;
    }

#position4 > a {
    background: url(/i/CameraIcon/4-4.png) no-repeat;
    background-size: 100%;
}

    #position4 > a:hover {
        background: url(/i/CameraIcon/4.png) no-repeat;
        background-position: bottom;
        background-size: 100%;
    }

#position5 > a {
    background: url(/i/CameraIcon/5-5.png) no-repeat;
    background-size: 100%;
}

    #position5 > a:hover {
        background: url(/i/CameraIcon/5.png) no-repeat;
        background-position: bottom;
        background-size: 100%;
    }
#save > a {
    background: url(/i/CameraIcon/save-2.png) no-repeat;
    background-size: 100%;
    background-size: 100%;
}

    #save > a:hover {
        background: url(/i/CameraIcon/save.png) no-repeat;
        background-position: bottom;
        background-size: 100%;
    }
#mapType {
    height: 80px;
    transition-property: width,background-color;
    width: 110px;
    background-color: rgba(255,255,255,0);
    position: absolute;
    right: 5px;
    bottom: 10px;
}
#mapType .mapTypeCard {
    height: 60px;
    width: 86px;
    position: absolute;
    border-radius: 2px;
    bottom: 1%;
    box-sizing: border-box;
    background: url('/textures/maptype/maptype.png') no-repeat 0 0;
    background-size: 86px 240px;
    transition-property: right,background-image;
}

#mapType .weixing {
    z-index: 3;
    background-position: 0 -181px;
    right: 12px; 
}
#mapType .jiedao {
    z-index: 0;
    background-position: 0 0px;
    right: 12px;
}


#mapType .nomap {
    z-index: 1;
    background-position: 0 -181px;
    right: 26px;
    background: url('/textures/maptype/nomap.jpg') no-repeat 0 0;
}

#mapType .jiexiantu {
    z-index: 2;
    background-position: 0 0px;
    right: 20px;
    background: url('/i/cn/jxt.png') no-repeat 0 0;
}
#mapType .mapTypeCard.active span, #mapType .mapTypeCard:hover span {
    background-color: #3385FF;
}

#mapType > div:hover {
    border: 2px solid #3385FF;
}

#mapType .mapTypeCard span {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    padding: 3px 3px 2px 4px;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    color: #FFF;
    border-top-left-radius: 2px;
}

.Map_Zoom .Map_button:first-child {
    border-bottom: 1px solid #ccc;
}

.Map_Zoom .Map_button {
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    cursor: pointer;
    width: 26px;
    height: 26px;
    left: 30px;
    overflow: hidden;
    background-color: #FFF;
    z-index: 10;
}

.Map_Ctrl div {
    position: absolute;
}
.Map_Zoom .Map_button .in {
    width: 10px;
    height: 10px;
    top: 8px;
    left: 8px;
    background-image: url('/textures/maptype/mapZoom.png');
    background-position: 0 0;
}
.Map_Zoom .Map_button .out {
    width: 10px;
    height: 10px;
    top: 8px;
    left: 8px;
    background-image: url('/textures/maptype/mapZoom.png');
    background-position: -10px 0;
}
.Map_Ctrl div {
    position: absolute;
}

.WarnInfo {
    position: absolute;
    max-width: 450px;
    /*margin-left: -50%;*/
}

.map-tip-all {
    display: inline-block;
    max-width: 100%;
    /*margin-left: -50%;*/
}

.map-tip {
    background-color: #f1f0f0;
    padding: 6px 9px;
    /*border: 1px solid #f00;*/
}

    .map-tip:first-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .map-tip:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .map-tip .head {
        font-family: MicrosoftYaHei;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 1px;
        color: #282828;
    }

    .map-tip .time {
        font-family: MicrosoftYaHei;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 1px;
        color: #282828;
    }

    .map-tip .sep {
        height: 1px;
        background-color: #cbcbcb;
    }

.map-tip-arrow, .map-tip-arrow:after {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-color: transparent;
    border-style: solid
}

.map-tip-arrow {
    border-width: 8px
}

    .map-tip-arrow:after {
        content: "";
        border-width: 7px;
    }

.map-tip-arrow {
    left: 50%;
    margin-left: -7px
}
    .map-tip-arrow:after {
        content: " ";
        bottom: 1px;
        margin-left: -7px;
        border-bottom-width: 0;
        border-top-width: 7px;
        border-top-color: #fff
    }   

.u-icon-delete {
    position: absolute;
    height: 16px;
    width: 16px;
    /*top: -10px;*/
    right: -3%;
    top: -8%;
    /*z-index: 100;*/
}

#mapType .switch-box {
    position: relative;
    width: 100%;
    height: 20px;
    line-height: 12px;
    color: #fff;
    background: rgba(0,0,0,.5);
    cursor: pointer;
}
#mapType .switch-box input.switch {
    position: absolute;
    left: 5px;
    /*top: 4px;*/
    cursor: pointer;
    margin: 5px;
    
}
#mapType .switch-box p {
    display: inline-block;
    margin-top: 5px;
    margin-left: 30px;
    font-size: 12px;
}
#back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/textures/coin/backgroundImg.png");
    opacity:0.6;
}

